/* Reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make app full screen */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}

/* Remove dark background */
body {
  background: none;
}